<!DOCTYPE html>
<html>
    <head>
        <title>hypershop: Example App for hypercontract</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
        body {  overflow-y: overlay; }
        </style>
    </head>
    <body class="pb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
            <div class="container">
                <a class="navbar-brand" href="<%= navigation.homepage %>">hypershop</a>
                <ul class="navbar-nav">
                    <li class="nav-item<%= (activeNavItem === 'products' ? ' active' : '') %>">
                        <a class="nav-link" href="<%= navigation.catalog %>">Catalog</a>
                    </li>
                    <li class="nav-item<%= (activeNavItem === 'shoppingCart' ? ' active' : '') %>">
                        <a class="nav-link" href="<%= navigation.shoppingCart %>">Shopping Cart</a>
                    </li>
                    <li class="nav-item<%= (activeNavItem === 'orderHistory' ? ' active' : '') %>">
                        <a class="nav-link" href="<%= navigation.orderHistory %>">Order History</a>
                    </li>
                    <li class="nav-item<%= (activeNavItem === 'userProfile' ? ' active' : '') %>">
                        <a class="nav-link" href="<%= navigation.userProfile %>">User Profile</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container">
