<%- include('../../layout/head') %>

<h1 class="mb-5"><%= product.productName %></h1>

<div class="row align-items-start">

    <div class="col-4">
        <figure class="figure">
            <img src="<%= product.image %>" class="figure-img img-fluid rounded" alt="Product Image of <%= product.productName %>" />
        </figure>
    </div>

    <div class="col-8 row align-items-center">
        <p class="col-8 mb-0"><strong>Price: <%= product.price %></strong></p>

        <form action="<%= links.addToShoppingCart %>" method="POST" class="form-inline col-4">
            <input type="hidden" name="product" value="<%= product._id %>" />

            <div class="input-group float-right">
                <label for="quantity" class="sr-only">Quantity</label>
                <input type="number" name="quantity" title="Quantity" value="1" class="form-control text-right">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" title="Add to Shopping Cart">Add</button>
                </div>
            </div>
        </form>

        <p class="col mt-5"><%= product.productDescription %></p>
    </div>
</div>

<%- include('../../layout/foot') %>
